@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

//fuentes
$fuente_principal: 'Lato', sans-serif;

//Tamaño Media Queries
$telefono: 480px;
$tablet: 788px;
$desktop: 1024px;

//Colores
$negro: #000;
$blanco: #ffff;
$RosaOscuro: #f3a8c2;
$RosaClaro: #f6d1de;
$AzulClaro: #b0f6f2;
$BeigeClaro: #eef6b0;
$gris: #5e5e5e;


$separacion: 5rem;

//fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
$parrafos: 48px;
